.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: 600px;
    background-color: #fff;
    padding-bottom: 30px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: #0f0c29;
    font-size:46px;
    font-weight: 700;
}
.underline{
    height: 7px;
    width: 150px;
    background-color: #0f0c29;
    border-radius: 7px;
    margin-top: 2px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: #eaeaea;
    border-radius: 6px;
    margin-bottom: 15px;

}
.custom-icon-class{
    margin-left: 20px;
    font-size:24px ;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 30px;
}

.back{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.back span{
    color: #0f0c29;
    cursor: pointer;
}
.submit-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 60px auto;

    
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background-color: #0f0c29;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.input-1{
    margin-right: 190px;
    display: flex;
    margin-left: 10px;
}
.in-line{
    display: flex;
    flex-direction: row;
}
.normal{
    display: flex;
    width: 170px;
    margin-left: 15px;
    margin-right: 180px;
    text-decoration: none;
}
.checked{
    display: flex;
    width: 170px;
    margin-left: 15px;
    margin-right: 180px;
    text-decoration: line-through;
}
.task-container{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    margin-bottom: 10px;
    height: 60px;
    background-color: #eaeaea;
    border-radius: 6px;
}
.edit-icon,.trash-icon{
    font-size: 16px;
    padding: 10px;
    cursor: pointer;

}

